<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
  <a href="/blog" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-align-justify" aria-hidden="true"></i> &nbsp; Blog
  </a>
</li>

<!--<li>
  <a href="/research" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Research
  </a>
</li>-->

<li>
  <a href="/publications" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Publications
  </a>
</li>

<li>
  <a href="/talks" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw fa-comment" aria-hidden="true"></i> Talks
  </a>
</li>

<li>
  <a href="/assets/cv.pdf" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw fa-file" aria-hidden="true"></i> CV
  </a>
</li>


<!--
<li>
  <a href="/trove" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw fa-text" aria-hidden="true"></i> The Trove
  </a>
</li>
-->
