{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="https://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        {% assign author_src = author.avatar %}
      {% else %}
        {% assign author_src = author.avatar | relative_url %}
      {% endif %}

      {% if author.home %}
        {% if author.home contains "://" %}
          {% assign author_link = author.home %}
        {% else %}
          {% assign author_link = author.home | relative_url %}
        {% endif %}
        <a href="{{ author_link }}">
          <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}
</div>
