---
layout: archive
author_profile: true
comments: false
recent_post:
  - image_path: /assets/images/comparisonbounds.svg
    alt: "Lee metric"
    url: "/blogposts/leemetric"
    btn_label: "Read more"
    btn_class: "btn--primary"
    excerpt: "On the paper 'A method to find the volume of a sphere in the Lee metric, and its applications'"
feature_row2:
    - image_path: /assets/images/rhino1.jpg
      #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
      alt: "April Puzzles"
      title: "April Puzzles"
      excerpt: "One more special puzzle to celebrate April Fools Day. Involves some melancholy rhinos."
      url: "/blogposts/One-More-April-Puzzle/"
      btn_label: "Read More"
      btn_class: "btn--primary"
    - image_path: assets/images/blog.jpg
      title: "Shannon's theorem"
      excerpt: "The (highly) non-trivial content of Shannon's Channel Coding theorem"
      url: "/blogposts/cool-new-way-to-understand-Shannon-result/"
      btn_label: "Read More"
      btn_class: "btn--primary"
    - image_path: assets/images/wat-arun-buddha.jpg
      alt: "Wat Arun Buddha"
      title: "Travelogue: Old Bangkok"
      excerpt: 'Adventures in the old city of Bangkok'
      url: "/blogposts/bangkok/"
      btn_label: "Read More"
      btn_class: "btn--primary"
intro:
    - excerpt: "List of all posts by date [here](/all-posts) and by category [here](/categories)."
---
<h1> Volumes of Spheres in Discrete Metrics </h1>
{% include feature_row id = "recent_post" type = "left" %}
<h2> Latest Posts </h2>
{% include feature_row id = "feature_row2" %}

<center><a class='btn btn--danger' href="/all-posts/">Older Posts</a></center>